<div class="inicio">
    <p class="titulo">
        ASIGNACIÓN EQUIPO DE ESCRITORIO
        <button mat-mini-fab color="primary" matTooltip="Click para más información" (click)="clickMasInformacion($event)" >
            <mat-icon>info</mat-icon> 
        </button>
    </p>

    <div>
        <!--<div class="encabezado_botones">-->
        <div class="example-button-row">
            <button mat-mini-fab color="accent"             (click)="cargarTabla(1)" matTooltip="Este botón carga todas las cpu's disponibles."       > <mat-icon>computer       </mat-icon> </button>
            <button mat-mini-fab color="{{bton_monitor}}"   (click)="cargarTabla(2)" matTooltip="Este botón carga todas ls monitores disponibles."    > <mat-icon>desktop_windows</mat-icon> </button>
            <button mat-mini-fab color="{{bton_teclado}}"   (click)="cargarTabla(3)" matTooltip="Este botón carga todos los teclados disponibles."    > <mat-icon>keyboard       </mat-icon> </button>
            <button mat-mini-fab color="{{bton_mouse}}"     (click)="cargarTabla(4)" matTooltip="Este botón carga todos los mouse's disponibles."     > <mat-icon>mouse          </mat-icon> </button>
            <button mat-mini-fab color="{{bton_regulador}}" (click)="cargarTabla(5)" matTooltip="Este botón carga todos los reguladores disponibles." > <mat-icon>power          </mat-icon> </button>
            <p>TABLA: {{nombreTabla}}</p>
        </div>
        <div>
            <table mat-table [dataSource] = "dataSource"  class="mat-elevation-z8">

                <ng-container matColumnDef="OPCIONES">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> OPCIONES </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-mini-fab color="primary" (click)="seleccionarEquipo(element.name,element.id)" matTooltip="Al dar click estarás seleccionando este equipo" > <mat-icon>check_circle</mat-icon> </button>
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="NOMBRE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                
                <ng-container matColumnDef="NÚMERO DE SERIE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> NÚMERO DE SERIE </th>
                    <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
                </ng-container>
                
                <ng-container matColumnDef="TIPO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                </ng-container>
                
                <ng-container matColumnDef="MODELO">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MODELO </th>
                    <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
                </ng-container>
                
                <ng-container matColumnDef="FABRICANTE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FABRICANTE </th>
                    <td mat-cell *matCellDef="let element"> {{element.manufacturers_id}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="encabezados"></tr>
                <tr mat-row *matRowDef="let row; columns: encabezados;"></tr>
                
            </table>
            <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[7, 20, 30, 40, 50]" showFirstLastButtons></mat-paginator>                
        </div>
    </div>

    <div class="columnas3">
        <div class="celda_label">
            <mat-label>
                <mat-label class="negrita">CPU: </mat-label>
                <mat-label class="texto">{{label_cpu}}</mat-label>
            </mat-label>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input matInput [formControl]="observaciones_cpu">
            </mat-form-field>                
        </div>

        <div class="celda_label">
            <mat-label>
                <mat-label class="negrita">MONITOR: </mat-label>
                <mat-label class="texto">{{label_monitor}}</mat-label>
            </mat-label>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input matInput [formControl]="observaciones_monitor">
            </mat-form-field>                
        </div>

        <div class="celda_label">
            <mat-label>
                <mat-label class="negrita">TECLADO: </mat-label>
                <mat-label class="texto">{{label_teclado}}</mat-label>
            </mat-label>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input matInput [formControl]="observaciones_teclado">
            </mat-form-field>                
        </div>

        <div class="celda_label">
            <mat-label>
                <mat-label class="negrita">MOUSE: </mat-label>
                <mat-label class="texto">{{label_mouse}}</mat-label>
            </mat-label>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input matInput [formControl]="observaciones_mouse">
            </mat-form-field>                
        </div>

        <div class="celda_label">
            <mat-label>
                <mat-label class="negrita">REGULADOR: </mat-label>
                <mat-label class="texto">{{label_reulador}}</mat-label>
            </mat-label>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input matInput [formControl]="observaciones_regulador">
            </mat-form-field>                
        </div>

        <div class="botones_Cancelar_Guardar">
            <div class="example-button-row">
                <button mat-raised-button color="primary" matTooltip="Inicias la asignación de esta computadora de escritorio." [disabled]="!habilitarBotonGuardar()" (click)="asignar($event)">Asignar </button>
                <button mat-raised-button color="warn"    matTooltip="Cancelas la asignación de esta computadora de escritorio." (click)="cancelar($event)">   Cancelar</button>
            </div>
        </div>
    </div>

</div>

