.inicio {
    
    padding: 1.2%;

    p {
        padding-top: 10px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    
    table {
        width: 100%;
      }
    .div {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        padding: 1%;
    }
    label {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .subtitulo {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .label {
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    img {
        width: 50%;
        height: 20%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 20px;
      }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding-top: 10px;
      }

    .grid-container4 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding-top: 10px;
    }
    .celda {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    .celda2 {
        display: grid;
        grid-template-columns: auto ;
        padding: 2%;
        padding-bottom: 18%;
    }

    /**/

    .texto {
        font-size: 15px;
        padding-left: 2%;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .negrita {
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .titulo {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .cuerpo {
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows   : auto;
        grid-gap: 2%;
        padding: 2%;

    }

    .izquierda {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows   : 38px 60px auto;
        padding: 2%;
    }

    .derecha {
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows   : auto auto auto auto auto auto;
        padding: 2%;
    }

    .columnas3 {
        display: grid;
        grid-template-columns: auto auto auto ;
        align-items: center;
        grid-gap: 10px;
        padding: 2%;
    }

    .encabezado_botones {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows   : 38px;
        grid-gap: 2%;
    }

    .encabezado_tabla {
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows   : auto;
        padding: 2%;
    }

    .celda_label {
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows   : auto auto ;
    }

    .botones_Cancelar_Guardar {
        
        text-align: left;
        grid-gap: 2%;
    }

}