.inicio {
    padding: 2%;
    p {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin-left: 1%;
    }
    h3{
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }

    .grid-tabla {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 1%;
      padding-left: 10%;
      padding-right: 10%;
    }
     th{
      color: rgb(43, 43, 43);
      background-color: rgb(241, 248, 252);
      //justify-content: center;
      text-align: center;
      font-weight: bold;
      border-color: #000000;
     }
     td{
      text-align: center;
      max-width: 100%;
      min-width: none;
     }
    .div {
        padding-top   : 2%;
        padding-bottom: 2%;
        padding-left  : 1.5%;
        padding-right : 1.5%;
        background: rgb(242, 243, 244);
        border-style: double;
        border-color: rgba(234, 237, 237);
        border-width: 1px;
        border-top-left-radius:     5px;
        border-top-right-radius:    5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius:  5px;
    }
    .div2 {
      padding-top   : 2%;
      padding-bottom: 2%;
      padding-left  : 1.5%;
      padding-right : 1.5%;
      background: rgba(255, 255, 255, 0.76);
      border-style: double;
      border-color: rgb(178, 185, 202);
      border-width: 1px;
      border-top-left-radius:     5px;
      border-top-right-radius:    5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius:  5px;
  }

    .label2 {
        text-align: center;
        margin-left: 2%;
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .label {
        margin-left: 1%;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #2e2e2e;

    }
    .titulo {
      font-size: 25px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: center;
  }
    img {
        width: 50%;
        height: 20%;
    }
    .grid-tabla {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 1%;
      padding-left: 5%;
      padding-right: 5%;
      border-color: #000000;
    }
    td{
      text-align: center;
      max-width: 100%;
      min-width: none;
     }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;
      }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;
      }
    .grid-container3 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .grid-container4 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .grid-container5 {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .celda {
        display: grid;
        grid-template-columns: auto ;
    }
    .celdaTabla {
      display: grid;
      grid-template-columns: auto ;
      display: flex;
      justify-content: center;
  }
    .example-additional-selection {
      opacity: 0.75;
      font-size: 0.75em;
    }
    .grid-containerB{
      display: flex;
      justify-content:right;
    }
    .wrapper {
      display: flex;
      justify-content: center;
    }
    .tableServiciosActivados {
      table-layout: fixed;
      width: 90;
      border-collapse: collapse;
      border: 3px solid rgb(180, 180, 180);
      padding-left: 25%;
      padding-right: 25%;

      tbody tr:nth-child(odd) {
        background-color: #a1f9ff;
      }

      tbody tr:nth-child(even) {
        background-color: #ffffff;
      }
    }
  }
