.inicio {

    .titulo 
    {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .subtitulo 
    {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .texto-normal 
    {
        margin-left: 1%;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .texto-negrita 
    {
        margin-left: 1%;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .columna_1__filas_2 
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto ;
        grid-gap: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;  
    }

    .columna_1__filas_2_v2
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto ;  
    }
    
    .columna_5 
    {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        text-align: right;
        grid-gap: 10px;
        padding-top: 20px;
    }

    .columna_1__filas_4 
    {
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto ;
        grid-gap: 10px;
        padding-top: 20px;
    }

    .grid-container5
    {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }

    .columnas_2__fila_1 
    {
        display: grid;
        grid-template-columns: minmax(50px,680px) minmax(50px,680px);
        grid-template-rows: auto ;
        grid-gap: 10px;
        padding-top: 20px;
    }

    .columnas_2__filas_2 
    {
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto ;
        grid-gap: 10px;
        padding-top: 20px;
    }

    .columnas_3__fila_1 
    {
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-template-rows: auto ;
        grid-gap: 10px;
        padding-top: 20px;
    }

    .celda 
    {
        display: grid;
        grid-template-columns: auto ;
    }

    .fondo
    {
        background: rgba(242, 243, 244);
        border-radius: 10px;
        padding: 1%;
    }
}