.inicio {
    
    .titulo
     {
         padding: 2%;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    
    table 
    {
        width: 100%;
    }
    
    .grid-container 
    {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 20px;
    }

    .grid-container2 
    {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding-bottom: 1%;
    }

    .grid-container3 
    {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }

    td
    {
        //width: 100px;
        max-width: 100px ;
        min-width: none;
    }
}