.inicio {

    padding: 2%;

    .titulo {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 2%;
    }
    .subtitulo {
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 2%;
    }

    .texto {
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
    }

    .negrita 
    {
        font-size: 17px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }

    .columnas_layout
    {
        display: grid;
        text-align: center;
        grid-template-columns: auto;
        grid-gap: 10px;   
    }

    .columnas_layout_2
    {
        display: grid;
        text-align: left;
        grid-template-columns: (minmax(auto, 380px)) auto;
        grid-gap: 10px;
    }


    .columnas_layout_3
    {
        display: grid;
        text-align: "center";
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;   
    }

    .columnas_layout_4
    {
        display: grid;
        text-align: left;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;   
    }


    table
    {
        width: 100%;
    }

    td
    {
        //width: 100px;
        max-width: 100px ;
        min-width: none;
    }
}


