.inicio {
    padding: 2%;

    .div {
        padding-top   : 2%;
        padding-bottom: 2%;
        padding-left  : 1.5%;
        padding-right : 1.5%;
        background: rgba(242, 243, 244);
        border-style: double;
        border-color: rgba(234, 237, 237);
        border-width: 1px;
        border-top-left-radius:     5px;
        border-top-right-radius:    5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius:  5px;

    }
    h3{
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }

    .grid-tabla {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 1%;
      padding-left: 10%;
      padding-right: 10%;
    }
     th{
      color: rgb(43, 43, 43);
      background-color: rgb(235, 247, 255);
      text-align: center;
      font-weight: bold;
      border-color: #000000;
     }
     td{
      text-align: center;
     }

    .label {
        margin-left: 1%;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #858585;
    }
    .titulo {
      font-size: 25px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      justify-content: center;
  }

    .grid-tabla {
      display: grid;
      grid-template-columns:auto;
      grid-gap: 1%;
      padding-left: 5%;
      padding-right: 5%;
      text-align: center;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;
      }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;
      }

    .celda {
        display: grid;
        grid-template-columns: auto ;
    }

    .grid-containerB{
      display: flex;
      justify-content:right;
    }
    .wrapper {
      display: flex;
      justify-content: center;
    }

    .tableServiciosActivados {
      table-layout: fixed;
      width: 90;
      border-collapse: collapse;
      border: 3px solid rgb(215, 250, 255);
      padding-left: 25%;
      padding-right: 25%;
      text-align: center;

      tbody tr:nth-child(odd) {
        background-color: #a1f9ff;
      }

      tbody tr:nth-child(even) {
        background-color: #ffffff;
      }
    }
  }
