.inicio {

    padding: 2%;

    .titulo {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .texto {
        margin-left: 1%;
        font-size: 17px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .advertencia {
        margin-left: 1%;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #f17a7a;
    }
    .celda {
        display: grid;
        grid-template-columns: auto;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 10px;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }

    .grid-container3 {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        grid-gap: 10px;
    }

    table
    {
        width: 100%;
        height: 100%;
    }
    td
    {
        //width: 100px;
        max-width: 100px ;
        min-width: none;
    }
}

