.inicio {
    margin-left: 2%;
    
    //padding: 2%;
    p {
        font-size: 25px;
        font-weight: bold;
        margin-left: 1%;
    }
    table {
        width: 100%;
      }
    .divtable
    {
        padding-left: 2%;
        padding-right: 2%;
    }
    .div {
        background: rgba(242, 243, 244);
        
        border-style: double;
        border-color: rgba(234, 237, 237); 
        border-width: 1px;
        border-top-left-radius:     5px;
        border-top-right-radius:    5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius:  5px;

    }
    label {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .label {
        margin-left: 1%;
        font-size: 17px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .txt {
        margin-left: 1%;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .titulo {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    img {
        width: 50%;
        height: 20%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;
      }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;
      }
    .grid-container3 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .grid-container4 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .grid-container5 {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .celda {
        display: grid;
        grid-template-columns: auto ;
    }
    .titulo 
    {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    td
    {
        //width: 100px;
        max-width: 100px ;
        min-width: none;
    }
}