.inicio {
  padding: 2%;
  p {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-left: 1%;
  }

  .requerido
    {
        margin-left: 1%;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #ec3535;
        text-align: right;
    }
  .div {
      padding-top   : 2%;
      padding-bottom: 2%;
      padding-left  : 1.5%;
      padding-right : 1.5%;
      background: rgba(242, 243, 244);
      border-style: double;
      border-color: rgba(234, 237, 237);
      border-width: 1px;
      border-top-left-radius:     5px;
      border-top-right-radius:    5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius:  5px;

  }
  .label2 {
      text-align: center;
      margin-left: 2%;
      font-size: 16px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  .label {
      margin-left: 1%;
      font-size: 15px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: #3a3939;
  }
  .titulo {
      font-size: 25px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  img {
      width: 50%;
      height: 20%;
  }
  .grid-container {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 1%;
      padding-left: 1.5%;
      padding-right: 1.5%;
    }
  .grid-container2 {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 1%;
      padding-left: 1.5%;
      padding-right: 1.5%;
    }
  .grid-container3 {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
      padding: 20px;
  }
  .grid-container4 {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
      padding: 20px;
  }
  .grid-containerBotonX {
      display: grid;
      grid-template-columns:15fr .5fr;
      grid-gap: 10px;
      padding: 20px;
  }
  .celda {
      display: grid;
      grid-template-columns: auto ;
  }
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
}
