.inicio {
  margin-left: 5%;
  margin-right: 5%;
  padding: 2%;
  p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-left: 1%;
  }

  .div {
      background: rgba(242, 243, 244);
      margin-left: 1%;
      margin-right: 1%;
      margin-top: 2%;
      padding: 2%;
      border-style: double;
      border-color: rgba(234, 237, 237);
      border-width: 1px;
      border-top-left-radius:     5px;
      border-top-right-radius:    5px;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius:  5px;

  }
  .requerido{
      margin-left: 1%;
      font-size: 15px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: #ec3535;
      text-align: right;
  }

  label {
      font-size: 16px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  .label {
      margin-left: 1%;
      font-size: 15px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: #3a3a3a;
  }
  .titulo {
      font-size: 25px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  img {
      width: 50%;
      height: 20%;
  }
  .grid-container {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px;
      padding: 20px;
    }
  .grid-container2 {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
      padding: 20px;
    }
  .grid-container3 {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
      padding: 20px;
  }
  .grid-container4 {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 10px;
      padding: 20px;
  }
  .grid-containerBotonX {
    display: grid;
    grid-template-columns: 20fr .2fr;
    grid-gap: 10px;
    //padding: 20px;
  }
  .grid-containerB{
    display: grid;
      grid-template-columns: 12fr 12fr 1fr;
      grid-gap: 10px;
      padding: 20px;
  }
  .grid-containerC{
    display: grid;
      grid-template-columns: 96% 5%;
      grid-gap: 10px;
      padding: 20px;
  }
  .celda {
      display: grid;
      grid-template-columns: auto ;
  }
}
