.inicio {
    
    padding :  2%;
    
    .titulo {
        font-size: 23px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #000000;
    }
    .subtitulo {
        font-size   : 16.5px;
        font-weight : bold;
        font-family : Arial, Helvetica, sans-serif;
        text-align  : center;
        color: #000000;
    }
    .subtitulo_v2 {
        font-size   : 16.5px;
        font-weight : bold;
        font-family : Arial, Helvetica, sans-serif;
        color: #000000;
    }
    .advertencia {
        margin-left: 1%;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #f17a7a;
    }
    .texto {
        font-size   : 16.5px;
        font-family : Arial, Helvetica, sans-serif;
        text-align  : center;
    }


    .columnas_1
    {
        display: grid;
        grid-template-columns: auto ;
        grid-gap: 10px;
        min-width: auto;
    }

    .columnas_2
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);;
        grid-gap: 10px;
        min-width: auto;
    }


    .columnas_3
    {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }



    .columnas_layout
    {
        display: grid;
        text-align: center;
        grid-template-columns: auto;
        grid-gap: 10px;   
    }
    
    .columnas_layout_3
    {
        display: grid;
        text-align: "center";
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;   
    }
    





    table 
    {
        width: 100%;
    }
    td
    {
        max-width: 100px ;
        min-width: none;
     
    }

    p
    {
        color:#f17a7a;
    }
}
