<div class="inicio">

    <br><br>
    <p class="titulo"> GESTIÓN DE EQUIPOS
      <mat-icon color="primary" matTooltip="Click para más información" (click)="botonInformacion()" >info</mat-icon>
    </p>

    <div class="grid-container">
        <div class="celda">
            <mat-label class="label"> Activo </mat-label>
            <mat-form-field appearance="outline">
                <mat-select  placeholder="Selecciona el tipo de dispositivo" [formControl]="tipoDispositivo" (selectionChange)="seleccionarTipoDispositivo($event)">
                    <mat-option *ngFor="let activo of listaactivos" [value]=activo>{{ activo }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>


    <div class="div">

        <!--hola hola <mat-tab-group (selectedIndexChange)="myTabSelectedIndexChange($event)">-->
        <mat-tab-group>



            <mat-tab label="Todos" >

                <div class="div2">

                    <div class="grid-container2">
                        <mat-form-field>
                            <mat-label>BUSCAR</mat-label>
                            <input matInput (keyup)="filtroDataDourceT($event)"  placeholder="INGRESE DATO A BUSCAR">
                        </mat-form-field>
                    </div>

                    <!--jjsnBoton Descargar reporte--
                    <div class="grid-container5">
                        <button mat-raised-button color="primary"> REPORTE
                            <mat-icon> file_download </mat-icon>
                        </button>&nbsp;
                    </div> -->

                    <!--Tabla-->
                    <table mat-table [dataSource] = "dataSourceT"  class="mat-elevation-z8">

                        <!-- Position Column -->
                        <ng-container matColumnDef="opciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> OPCIONES </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-mini-fab color="accent" (click)="detalleEquipo(element.id)"> <mat-icon>visibility</mat-icon> </button>
                                <!--<button mat-mini-fab style="background-color: #FA9494; color: black;" (click)="bajaEquipo(element.id)" *ngIf="verBotonBajaEquipo(element.states_id)"> <mat-icon>cancel</mat-icon>     </button>-->
                            </td>
                            <br>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="numSerie">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NÚMERO DE SERIE </th>
                            <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
                            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="modelo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> MODELO </th>
                            <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="fabricante">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> FABRICANTE </th>
                            <td mat-cell *matCellDef="let element"> {{element.manufacturers_id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="sucursalStatus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO ACTUAL </th>
                            <td mat-cell *matCellDef="let element"> {{element.states_id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="fecha_mod">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ÚLTIMA MODIFICACIÓN </th>
                            <td mat-cell *matCellDef="let element"> {{element.date_mod?.substring(0,10)}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="encabezadostabla"></tr>
                        <tr mat-row *matRowDef="let row; columns: encabezadostabla;"></tr>

                    </table>
                    <mat-paginator #paginatorT class="mat-elevation-z8" [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons></mat-paginator>

                </div>

            </mat-tab>




            <mat-tab label="Asignados" >

                <div class="div2">

                    <div class="grid-container2">
                        <mat-form-field>
                            <mat-label>BUSCAR</mat-label>
                            <input matInput (keyup)="filtroDataDourceA($event)"  placeholder="INGRESE DATO A BUSCAR">
                        </mat-form-field>
                    </div>

                    <!--Boton Descargar reporte--
                    <div class="grid-container5">
                        <button mat-raised-button color="primary"> REPORTE
                            <mat-icon> file_download </mat-icon>
                        </button>&nbsp;
                    </div> -->

                    <!--Tabla-->
                    <table mat-table [dataSource] = "dataSourceA"  class="mat-elevation-z8">

                        <!-- Position Column -->
                        <ng-container matColumnDef="opciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> OPCIONES </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-mini-fab color="accent" (click)="detalleEquipo(element.id)"> <mat-icon>visibility</mat-icon> </button>
                                <!--<button mat-mini-fab style="background-color: #FA9494; color: black;" (click)="bajaEquipo(element.id)" *ngIf="verBotonBajaEquipo(element.states_id)"> <mat-icon>cancel</mat-icon>     </button>-->
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="numSerie">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NÚMERO DE SERIE </th>
                            <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
                            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="modelo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> MODELO </th>
                            <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="fabricante">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> FABRICANTE </th>
                            <td mat-cell *matCellDef="let element"> {{element.manufacturers_id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="sucursalStatus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Muestra el nombre de usuario, en caso de que el empleado no este actualizado en el EndPoint"> ASIGNADO A </th>
                            <td mat-cell *matCellDef="let element"> {{element.users_id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="fecha_mod">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ÚLTIMA MODIFICACIÓN </th>
                            <td mat-cell *matCellDef="let element"> {{element.date_mod?.substring(0,10)}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="encabezadostabla"></tr>
                        <tr mat-row *matRowDef="let row; columns: encabezadostabla;"></tr>

                    </table>
                    <mat-paginator #paginatorA class="mat-elevation-z8" [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons></mat-paginator>
                </div>

            </mat-tab>





            <mat-tab label="No asignados" >

                <div class="div2">

                    <div class="grid-container2">
                        <mat-form-field>
                            <mat-label>BUSCAR</mat-label>
                            <input matInput (keyup)="filtroDataDourceS($event)"  placeholder="INGRESE DATO A BUSCAR">
                        </mat-form-field>
                    </div>

                    <!--Boton Descargar reporte--
                    <div class="grid-container5">
                        <button mat-raised-button color="primary"> REPORTE
                            <mat-icon> file_download </mat-icon>
                        </button>&nbsp;
                    </div> -->

                    <!--Tabla-->
                    <table mat-table [dataSource] = "dataSourceS"  class="mat-elevation-z8">

                        <!-- Position Column -->
                        <ng-container matColumnDef="opciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> OPCIONES </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-mini-fab color="accent" (click)="detalleEquipo(element.id)"> <mat-icon>visibility</mat-icon> </button>
                                <!--<button mat-mini-fab style="background-color: #FA9494; color: black;" (click)="bajaEquipo(element.id)" *ngIf="verBotonBajaEquipo(element.states_id)"> <mat-icon>cancel</mat-icon>     </button>-->
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="numSerie">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NÚMERO DE SERIE </th>
                            <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
                            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="modelo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> MODELO </th>
                            <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="fabricante">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> FABRICANTE </th>
                            <td mat-cell *matCellDef="let element"> {{element.manufacturers_id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="sucursalStatus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> SUCURSAL ACTUAL </th>
                            <td mat-cell *matCellDef="let element"> {{element.locations_id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="fecha_mod">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ÚLTIMA MODIFICACIÓN </th>
                            <td mat-cell *matCellDef="let element"> {{element.date_mod?.substring(0,10)}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="encabezadostabla"></tr>
                        <tr mat-row *matRowDef="let row; columns: encabezadostabla;"></tr>

                    </table>
                    <mat-paginator #paginatorS class="mat-elevation-z8" [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons></mat-paginator>
                </div>

            </mat-tab>





            <mat-tab label="Baja" >

                <div class="div2">

                    <div class="grid-container2">
                        <mat-form-field>
                            <mat-label>BUSCAR</mat-label>
                            <input matInput (keyup)="filtroDataDourceB($event)"  placeholder="INGRESE DATO A BUSCAR">
                        </mat-form-field>
                    </div>

                    <!--Boton Descargar reporte--
                    <div class="grid-container5">
                        <button mat-raised-button color="primary"> REPORTE
                            <mat-icon> file_download </mat-icon>
                        </button>&nbsp;
                    </div>-->

                    <!--Tabla-->
                    <table mat-table [dataSource] = "dataSourceB"  class="mat-elevation-z8">

                        <!-- Position Column -->
                        <ng-container matColumnDef="opciones">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> OPCIONES </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-mini-fab style="background-color: #F9DF56; color: black;" (click)="detalleEquipo(element.id)"> <mat-icon>visibility</mat-icon> </button>
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="numSerie">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> NÚMERO DE SERIE </th>
                            <td mat-cell *matCellDef="let element"> {{element.serial}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO </th>
                            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="modelo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> MODELO </th>
                            <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="fabricante">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> FABRICANTE </th>
                            <td mat-cell *matCellDef="let element"> {{element.manufacturers_id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="sucursalStatus">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> CAUSA BAJA </th>
                            <td mat-cell *matCellDef="let element"> {{element.states_id}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="fecha_mod">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ÚLTIMA MODIFICACIÓN </th>
                            <td mat-cell *matCellDef="let element"> {{element.date_mod?.substring(0,10)}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="encabezadostabla"></tr>
                        <tr mat-row *matRowDef="let row; columns: encabezadostabla;"></tr>

                    </table>
                    <mat-paginator #paginatorB class="mat-elevation-z8" [pageSizeOptions]="[10, 20, 30, 40, 50]" showFirstLastButtons></mat-paginator>
                </div>

            </mat-tab>



        </mat-tab-group>

    </div>
