.inicio {

    p {
        padding-top: 10px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    .titulo {
      font-size: 25px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }

    table {
        width: 100%;
      }
    .div {
        background: rgba(242, 243, 244);
        border-style: double;
        border-color: rgba(234, 237, 237);
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        padding: 1%;
    }

    .div2 {

        margin-left: 5px;
        margin-right: 5px;
        margin-top: 5px;
        padding: 1%;
    }

    label {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .subtitulo {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .label {
        margin-left: 1%;
        font-size: 17px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #858585;
    }
    .titulo {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    img {
        width: 50%;
        height: 20%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 20px;
      }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding-bottom: 1%;
      }

    .grid-container5 {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }


    .celda {
        display: grid;
        grid-template-columns: auto;
    }
}
