.inicio {
    
    .titulo {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .subtitulo {
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .texto {
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .columna_1 {
        text-align: left;
        display: grid;
        grid-template-columns: auto ;
        grid-gap: 10px;
        padding: 10px;
    }

    .columna_1__fila1 {
        text-align: left;
        display: grid;
        grid-template-columns: auto ;
        grid-template-rows: auto ;
        grid-gap: 10px;
        padding: 10px;
    }

    .columnas_2 {
        display: grid;
        grid-template-columns: auto auto ;
        grid-gap: 10px;
        padding: 10px;
    }

    .columnas_3 {
        display: grid;
        grid-template-columns: 25% 55% 20%;
        grid-gap: 10px;
        padding: 10px;
    }

    .columnas_3_fila_1 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }

    .columnas_2__filas_7 {
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto auto auto auto ;
        grid-gap: 10px;
        padding: 10px;
    }

    .columnas_5__filas_3 {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
    
    table
    {
        width: 100%;
    }
    td
    {
        //width: 100px;
        max-width: 100px ;
        min-width: none;
    }
}


