.inicio {
    padding: 2%;
    
    table 
    {
        width: 100%;
    }
    
    
    .divTitulo{
        text-align: center;
    }

    
    
    .titulo 
    {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .texto {
        margin-left: 2%;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .negrita 
    {
        margin-left: 1%;
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .advertencia 
    {
        margin-left: 1%;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #ec3535;;
    }
    



    .columna_1 
    {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1%;
        padding: 1%; 
    }
    .columnas_2 
    {
        display: grid;
        grid-template-columns: auto auto ;
        grid-gap: 1%;
        padding: 1%; 
    }
    .columnas_5 
    {
        display: grid;
        grid-template-columns: auto auto auto auto auto ;
        grid-gap: 1%;
        padding: 1%; 
    }

    .celda 
    {
        display: grid;
        grid-template-columns: auto ;
        padding: 1%; 
    }
    .color 
    {
        background: rgba(242, 243, 244);
        border-top-left-radius:     5px;
        border-top-right-radius:    5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius:  5px;

    }

    .columnas_layout_3
    {
        display: grid;
        text-align: "center";
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;   
    }
}