.inicio {
    
    .titulo {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .subtitulo {
        padding-left: 0.7%;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .labels {
        margin-left: 1%;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
    }

    .advertencia {
        margin-left: 1%;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #f17a7a;
    }

    .inputs_inicio {
        display: grid;
        grid-template-columns: 35% 64%;
        grid-template-rows: auto auto;
        grid-gap: 10px;
        padding: 10px;
    }

    .columna {
        display: grid;
        grid-template-columns: auto ;
        text-align: left;
    }

    .columnas_1 {
        display: grid;
        grid-template-columns: auto ;
        text-align: right;
        padding-right: 10px;
    }

    .columnas_2 {
        display: grid;
        grid-template-columns: auto auto ;
        text-align: right;
        grid-gap: 10px;
        padding: 10px;
    }

    .columnas_3 {
        display: grid;
        grid-template-columns: auto auto auto;
        text-align: right;
        grid-gap: 10px;
        padding: 10px;
    }
    
    .columnas_4__filas_2 {
        display: grid;
        grid-template-columns: auto auto auto auto ;
        grid-template-rows   : auto auto;
        text-align: left;
        grid-gap: 10px;
        padding: 10px;
    }

    .columnas_2__filas_6 {
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto auto auto auto ;
        text-align: left;
        grid-gap: 10px;
        padding: 10px;
    }

    .columnas_5{
        display: grid;
        grid-template-columns: auto auto auto auto auto ;
        grid-gap: 10px;
        padding: 10px;
    }
    
    table
    {
        width: 100%;
        text-align: left;
    }

    td, th
    {
        height: 10%;
    }
}


