.inicio {

    .titulo {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .columnas_3_filas_2 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-gap: 10px;
        padding: 10px;
    }

    .columnas_5 {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }

    .advertencia {
        margin-left: 1%;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #f17a7a;
    }

    .label {
        margin-left: 1%;
        font-size: 17px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        
    }

    .intputLabelButton {
        display: grid;
        grid-template-columns: 84% 10%;
        grid-gap: 2px;
    }

    table
    {
        width: 100%;
    }
    td, th
    {
        height: 10%;
        max-width: 100px ;
        min-width: none;
    }
    .celda {
        display: grid;
        grid-template-columns: auto;
    }
}


