.inicio {

    p
     {
        text-align: right;
        color: #f17a7a;
        font-size: 14px;
        font-weight: bold;
    }
    
    table {
        width: 100%;
      }
    td
    {
        text-align: justify;
        max-width: 100px ;
        min-width: none;
    }
    th
    {
       align-items: center;
       text-align: center;
    }
    .div {
        background: rgba(242, 243, 244);
        padding: 1%;
    }

    label {
        font-size: 20px;
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
    }


    .txtDerecha {
        font-size: 20px;
        text-align: right;
        font-family: Arial, Helvetica, sans-serif;
    }

    .txtCentro {
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .negrita {
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .negritaSubrarrada
    {
        font-size: 20px;
        text-decoration: underline;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .subtitulo {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .label {
        margin-left: 1%;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #858585;
    }
    .titulo {
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .img {
        width: 50%;
        height: 20%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 20px;
      }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding-bottom: 1%;
      }

      .grid-container3 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding-bottom: 1%;
      }

    .grid-container5 {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }
    
    
    .celda {
        display: grid;
        grid-template-columns: auto;
    }

    .pieDePagina {
        padding: 1%;
        display: grid;
        grid-template-columns: auto auto auto;
        background-color: #000;
        color: #fff;
    }

    .cuadro {
        padding   : 1%;
        border-style: double;
        border-color: rgb(0, 0, 0);
        border-width: 1px;
    }
}