.inicio {
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;

    p {
        font-size: 25px;
        font-weight: bold;
        margin-left: 1%;
    }
    .pInfo {
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-left: 1%;
      font-family: Arial, Helvetica, sans-serif;

    }
    .div {
        background: rgba(242, 243, 244);
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 2%;
        padding: 2%;
        border-style: double;
        border-color: rgba(234, 237, 237);
        border-width: 1px;
        border-top-left-radius:     5px;
        border-top-right-radius:    5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius:  5px;
    }
    .requerido{
      margin-left: 1%;
      font-size: 15px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: #ec3535;
      text-align: right;
    }

    label {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .label {
        margin-left: 1%;
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #3d3d3d;
    }
    .titulo {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .titulo2 {
      font-size: 22px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
  }
    img {
        width: 50%;
        height: 20%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;
      }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;
      }
    .grid-container3 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .grid-container4 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .grid-container5 {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .grid-containerB{
        display: grid;
        grid-template-columns: 12fr 12fr 1fr;
        grid-gap: 10px;
        padding: 20px;
    }
    .grid-containerC{
      display: grid;
        grid-template-columns: 12fr 1fr 12fr 1fr;
        grid-gap: 10px;
        padding: 20px;
    }
    .grid-containerD{
      display: grid;
        grid-template-columns: 96% 5%;
        grid-gap: 10px;
        padding: 20px;
    }
    .celda {
        display: grid;
        grid-template-columns: auto ;
    }

    .celda2 {
        display: grid;
        grid-template-columns: auto auto ;
    }

    .wrapper {
      display: flex;
      justify-content: center;
    }

    table {
      width: 98%;
      text-align: center;
      }
    th{
      color: rgb(43, 43, 43);
      background-color: rgba(242, 243, 244);
      text-align: center;
      border-color: #000000;
    }
    td {
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      vertical-align: middle;
    }
    .infoComponent{
      margin-left: 1%;
      margin-right: 1%;
      padding: 2%;
      background-color: #fcfa79;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      border-width: 1px;
      border-top-left-radius:     5px;
      border-top-right-radius:    5px;
    }

}

