.inicio 
{
    .titulo 
    {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .subtitulo 
    {
        text-align: center;
        margin-left: 1%;
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    .texto-normal 
    {
        margin-left: 1%;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 4%;
    }

    .texto-negrita 
    {
        margin-left: 1%;
        font-size: 18px;
        font-weight: bold;
        padding-left: 2%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .columnas_1___filas_1
    {
        display: grid;
        grid-template-columns: minmax(150,auto);
        grid-template-rows: auto;
        grid-gap: 1.5%;
        padding: 1%;
    }
    .columnas_2___filas_1 
    {
        display: grid;
        grid-template-columns: minmax(50px,680px) minmax(50px,680px);
        grid-template-rows: auto;
        grid-gap: 1.5%;
        padding: 1%;
    }
    .columna_1___filas_4 
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        padding: 1%;
    }
    .fondo
    {
        background: rgba(242, 243, 244);
        border-radius: 10px;
        padding: 1%;
    }

    .columnas_2___filas_2 
    {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        padding: 1%;
    }    

    .columnas_1___filas_3 
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-gap: 1%;
        padding-left: 1.5%;
        padding-right: 1.5%;
        border-color: rgba(0, 0, 0); 
        border-width: 2px;
    }

    .columnas_3
    {
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-gap: 10px;
        padding-top: 20px;
    }

    .columnas_5 
    {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        text-align: right;
        grid-gap: 10px;
        padding-top: 20px;
    }

    .grid-container5
    {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }

    .celda 
    {
        display: grid;
        grid-template-columns: auto ;
    }

}