.inicio {
    background: rgba(252, 251, 251, 0.829);
    margin: 5px;
    padding: 1%;
    p {
        font-size: 25px;
        font-weight: bold;
    }
    table {
        width: 100%;
        text-align: center;
      }
    th{
      color: rgb(43, 43, 43);
      text-align: left;
      border-color: #000000;
    }
    td {
      width: 1.5em;
      height: 1.5em;
      text-align:left;
      vertical-align: middle;
    }

    .div {
        background: rgba(242, 243, 244);
        margin: 2px;
        padding: 1%;
        border-style: double;
        border-color: rgba(234, 237, 237);
        border-width: 1px;
        border-top-left-radius:     10px;
        border-top-right-radius:    10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius:  10px;

    }
    label {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .label {
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .titulo {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
    }
    img {
        width: 50%;
        height: 20%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 20px;
      }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding: 20px;
      }
    .grid-container3 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .grid-container4 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .grid-container5 {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding: 20px;
    }
    .wrapper {
      display: flex;
      justify-content: center;
    }
  }
