.inicio {

    .titulo {
        padding-top: 10px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    
    table {
        width: 100%;
      }
    .div {
        background: rgba(242, 243, 244);
        padding: 1%;
    }

    label {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .subtitulo {
        font-size: 16px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .label {
        margin-left: 1%;
        font-size: 17px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        color: #858585;
    }
    .titulo {
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    img {
        width: 50%;
        height: 20%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 20px;
      }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding-bottom: 1%;
      }

    .grid-container5 {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    
    
    .celda {
        display: grid;
        grid-template-columns: auto;
    }
}