.inicio {
    .titulo {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .label {
        margin-left: 1%;
        font-size: 17px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        //color: #858585;
    }
    .celda {
        display: grid;
        grid-template-columns: auto;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        padding: 10px;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
    .grid-container3 {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
    .grid-container4 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
    .grid-container5 {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 10px;
        padding: 10px;
    }
    .celda2 {
        display: grid;
        //grid-template-columns: auto auto;
        grid-template-columns: 90% 10%;
    }
    table
    {
        width: 100%;
    }
    td
    {
        //width: 100px;
        max-width: 100px ;
        min-width: none;
    }
}


