.inicio {

  //padding-right: 44%;
  padding-left :  2%;
  p
   {
      padding-top: 10px;
      //text-align: center;
      font-size: 18px;
      font-weight: bold;
  }
  .requerido
  {
      margin-left: 1%;
      font-size: 15px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: #ec3535;
      text-align: right;
  }
  .wrapper {
    display: flex;
    justify-content: center;
  }



  .div {
      background: rgba(242, 243, 244);
      padding: 1%;
  }

  label {
      font-size: 20px;
      text-align: justify;
      font-family: Arial, Helvetica, sans-serif;
  }



  .label {
      margin-left: 1%;
      font-size: 15px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      color: #858585;
  }
  .titulo {
      font-size: 20px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }

  .grid-container {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px;
      padding: 20px;
    }
  .grid-container2 {
      display: grid;
      grid-template-columns: 10% auto 10% auto 10%;
      grid-gap: 10px;
      padding-bottom: 1%;
    }
    .grid-containerB{
      display: flex;
      justify-content:right;
    }

    .grid-containerBotonX {
      display: grid;
      grid-template-columns: 20fr .2fr;
      //grid-gap: 10px;
      //padding: 20px;
    }
    .celda {
      display: grid;
      grid-template-columns: auto;
    }

}



