.inicio {
  background: rgba(252, 251, 251, 0.829);
  margin: 5px;
  padding: 1%;
  p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-left: 1%;
}
  table {
      width: 100%;
      text-align: center;
    }
    th{
      color: rgb(43, 43, 43);
      text-align: center;
      border-color: #000000;
    }
    td {
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      vertical-align: middle;
    }

  .div {
      background: rgba(242, 243, 244);
      margin: 2px;
      padding: 1%;
      border-style: double;
      border-color: rgba(234, 237, 237);
      border-width: 1px;
      border-top-left-radius:     10px;
      border-top-right-radius:    10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius:  10px;

  }
  label {
      font-size: 16px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  .label {
      font-size: 15px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  .titulo {
      font-size: 25px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
  }
  img {
      width: 50%;
      height: 20%;
  }
  .grid-container {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px;
      padding: 20px;
    }
  .grid-container2 {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
      padding: 20px;
    }

  .wrapper {
    display: flex;
    justify-content: center;
  }
}
